* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  align-items: center;
  border-bottom: 2px solid black;
}

main {
  display: flex;
  height: calc(100vh - 70px);
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: calc(500px - 20px);
  padding: 20px;
  height: 100px;
  background-color: antiquewhite;
  cursor: pointer;
  border-radius: 10px;
  text-transform: capitalize;
}

.property {
  margin: auto 0;
}

.title {
  font-size: 20px;
}

.btn {
  width: 100px;
  height: 50px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  background-color: #4ace30;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

.btn:hover,
.btnView:hover,
.btnDelete:hover {
  background-color: #4fa1c7;
}

.cardBtn {
  width: 50px;
  font-size: 10px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
}

.btnView {
  background-color: #4ace30;
}

.btnDelete {
  background-color: #df4834;
}

.form-btn {
  display: flex;
}
.container,
.modal {
  background-color: rgb(43, 43, 43);
  width: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-container input {
  margin-bottom: 10px;
}

.inputField {
  outline: none;
  width: 250px;
  height: 35px;
  font-size: 30px;
}

#formCompleted h3,
label {
  color: antiquewhite;
  margin-bottom: 10px;
  padding: 2px;
}

.detail {
  background-color: #4fa1c7;
  width: calc(100vw - 1000px);
  display: flex;
  justify-content: center;
}
.detail div {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 95%;
  background-color: antiquewhite;
  cursor: pointer;
  border-radius: 10px;
  overflow: scroll;
}

.detailTitle {
  font-size: 22px;
  font-weight: 600;
}

.search-container,
.search-modal {
  background-color: rgb(43, 43, 43);
  width: 500px;
  overflow-y: scroll;
}

.search-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

::placeholder {
  color: red;
  font-size: 20px;
  opacity: 0.5;
}
